# Text backup files
*.bak

# Database
*.sqlite3

# Settings
collegehousing_site/rent_project/settings.py
collegehousing_site/rent_project/rent_data/static/rent_data/tokens.js
collegehousing_scripts/tokens.r
