{% extends "base.html" %}

{% block content %}

  <div class="columns">

    <div class="column is-two-thirds">
      <div class="content is-large">
        <p class="intro_graf">
        The College Housing Project is managed by Daniel Carter and Kym Fox and is maintained with help from students enrolled in Data Journalism at Texas State University.
        </p>
      </div>
    </div><!-- .column -->

    <div class="column is-one-third content">

      <article class="message is-primary">
        <div class="message-header">
          <p>Contact</p>
        </div>
        <div class="message-body">
          <p><strong>Daniel Carter</strong><br />
            Assistant Professor<br />
            School of Journalism and Mass Communication<br />
            Texas State University<br />
            <a href="http://danielcarter.github.io/" title="Daniel Carter's Homepage">https://danielcarter.github.io/</a><br />
            <a href="mailto:dcarter@txstate.edu" title="Email Daniel Carter">dcarter@txstate.edu</a></p>

            <p><strong>Kym Fox</strong><br />
              Professor of Practice<br />
              Journalism Sequence Coordinator<br />
              School of Journalism and Mass Communication<br />
              Texas State University<br />
              <a href="mailto:kfox@txstate.edu" title="Email Kym Fox">kfox@txstate.edu</a></p>
        </div>
      </article>

    </div><!-- .column -->



{% endblock %}
