{% extends "base.html" %}

{% block content %}

  <div class="columns">

    <div class="column is-two-thirds">
      <div class="content is-large">
        <p class="intro_graf">
        The resources below _____.
        </p>
      </div>
    </div><!-- .column -->

    <div class="column is-one-third content">

      <div class="box">
      <aside class="menu">
        <p class="menu-label">
          Contents
        </p>
        <ul class="menu-list">
          <li><a href="#tutorials-data-analysis">Data Analysis</a></li>
          <li><a href="#tutorials-web-development">Web Development</a></li>
        </ul>
      </aside>
      </div>

    </div><!-- .column -->



{% endblock %}
